@import "../includes/styles.css";
@import "../includes/responsive.css";

/* MEDIA QUERIES */
@media (min-width: 699px) {
  #menu-list > li {
    width: 50%;
    float: left;
  }
  ul#menu-list::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 949px) {
  ul#menu-list > li {
    width: 13%;
    float: left;
  }

  ul#menu-list {
    text-align: left;
  }

  section#contents::after {
    content: "";
    display: table;
    clear: both;
  }

  article {
    float: left;
  }

  article#ws-general {
    width: 54%;
  }

  article#ws-macbeth {
    width: 39%;
  }
}
