/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #872260;
  --secondary: #e18abc;
  --third-pink: #b9528e;
  --sans-serif: Arial, Helvetica, sans-serif;
  --serif: Georgia, "Times New Roman", Times, serif;
  --font-size-base: calc(12.5px + 0.5vw);
  --spaces-left-right: calc(0.5rem + 0.8vw);
}

a {
  font-family: var(--sans-serif);
  font-size: 13px;
  font-weight: bold;
}

p {
  margin: 0 0 1.5rem;
  font-family: var(--sans-serif);
  font-size: var(--font-size-base);
}

small {
  font-family: var(--sans-serif);
}

h1 {
  font-family: var(--serif);
  font-size: 2rem;
}

header,
footer {
  background-color: var(--primary);
}

nav {
  background-color: var(--secondary);
}

/* TOP */
header > h1 {
  color: white;
  padding: 0.5rem;
}

ul#menu-list {
  list-style-type: none;
  text-align: center;
}

#menu-list > li {
  color: var(--primary);
  border-bottom: solid var(--primary) 0.5px;
}

/* BODY */
article {
  margin: 1rem var(--spaces-left-right);
}

#ws-macbeth {
  border-radius: 10px;
  background-color: var(--third-pink);
  padding: 1rem;
}

#ws-macbeth > p {
  font-family: var(--serif);
  color: white;
}

/* BOTTOM */
#footer {
  text-align: center;
  color: white;
  padding: 0.3rem 0;
}

/* MEDIA QUERIES */
@media (min-width: 699px) {
  #menu-list > li {
    border-right: solid var(--primary) 0.5px;
    border-left: solid var(--primary) 0.5px;
    width: 50%;
    float: left;
  }
  ul#menu-list::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 949px) {
  #menu-list > li {
    border: unset;
    float: left;
    width: 13%;
  }
  ul#menu-list {
    text-align: left;
    padding: 2px var(--spaces-left-right);
  }

  section#contents::after {
    content: "";
    display: table;
    clear: both;
  }
  article {
    float: left;
  }
  #ws-general {
    width: 54%;
  }
  #ws-macbeth {
    width: 39%;
  }
}
