@import "../includes/styles.css";

ul#menu-list,
section#contents {
  display: flex;
  flex-flow: row wrap;
}

ul#menu-list > li {
  /* min-width: 7vw; */
  flex-grow: 1;
  flex-basis: min(100%, 300px);
  /* flex-basis: 300px; */
}

section#contents {
  justify-content: space-around;
  flex-flow: row wrap;
}

article#ws-general {
  flex: 2 0 50%;
  max-width: 100%;
}

article#ws-macbeth {
  height: 100%;
  flex: 1 0 410px;
  max-width: 95%;
}
