/* BODY */
article {
  margin: 1rem var(--spaces-left-right);
}

article#ws-macbeth {
  border-radius: 10px;
  background-color: var(--third-pink);
  padding: 1rem;
}

article#ws-macbeth > p {
  font-family: var(--serif);
  color: white;
}
