/* TOP */
header > h1 {
  color: white;
  padding: 0.5rem var(--spaces-left-right);
}

ul#menu-list {
  list-style-type: none;
  text-align: center;
}

ul#menu-list > li {
  color: var(--primary);
  border-bottom: solid var(--primary) 0.5px;
}
